# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
package-lock.json

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
example.com+*

# local env files
.env

# typescript
*.tsbuildinfo

# build
/dist
/dist-test

apps/xiaotiqinpu.com
apps/cms
.vscode/settings.json


# dev/github
dev/github/make-english-study-video
dev/github/make-english-study-video-slow
dev/github/mini-react
